{% extends 'base.html.twig' %}

{% block title %}Console index{% endblock %}

{% block body %}

    <div class="text-center">
        <h1>Consoles</h1>
        <a class="btn btn-primary mt-3 mb-3" href="{{ path('app_console_new') }}">Ajouter une console</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Released</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for console in consoles %}
            <tr>
                <td>{{ console.id }}</td>
                <td>{{ console.name }}</td>
                <td>{{ console.brand }}</td>
                <td>{{ console.released ? console.released|date('Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_console_show', {'id': console.id}) }}">voir</a>
                    <a href="{{ path('app_console_edit', {'id': console.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-danger mt-3 mb-3" href="{{ path('app_jeux_videos_index') }}">Liste des Jeux Vidéos</a>
    </div>
{% endblock %}
