{% extends 'base.html.twig' %}

{% block title %}JeuxVideos index{% endblock %}

{% block body %}
    
    <div class="text-center">
        <h1>Jeux Videos</h1>
        <a class="btn btn-primary mt-3 mb-3" href="{{ path('app_jeux_videos_new') }}">Ajouter un jeu vidéo</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Console</th>
                <th>Released</th>
                <th>Picture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jeux_video in jeux_videos %}
            <tr>
                <td>{{ jeux_video.id }}</td>
                <td>{{ jeux_video.name }}</td>
                <td>{{ jeux_video.type }}</td>
                <td>{{ jeux_video.console }}</td>
                <td>{{ jeux_video.released ? jeux_video.released|date('Y') : '' }}</td>
                <td>
                    {% if jeux_video.picture %}
                        <img src="{{ jeux_video.picture }}" alt="{{ jeux_video.name }}" width="40">
                    {% else %}
                        Aucune image disponible
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_jeux_videos_show', {'id': jeux_video.id}) }}">voir</a>
                    <a href="{{ path('app_jeux_videos_edit', {'id': jeux_video.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-danger mt-3 mb-3" href="{{ path('app_console_index') }}">Liste des Consoles</a>
    </div>
{% endblock %}
